@model JobBoard.Data.EF.UserDetail

@{
    ViewBag.Title = "Details for: " + @Model.FullName;
}

<h2>@ViewBag.Title</h2>
<br /><br />
<div>
    
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeFileName)
        </dt>

        <dd>
            <div class="col-md-10">
                <a href="@Url.Content("~/Content/Resumes/"+ Model.ResumeFileName)" target="_blank">Click to View!</a>

            </div>
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Employee"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "btn btn-dark" }) 

        
    }
    @if(User.IsInRole("Admin") || User.IsInRole("Manager"))
    {

    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    }


</p>
