@model JobBoard.Data.EF.UserDetail

@{
    ViewBag.Title = "Edit User: " + Model.FullName;
}

<h2>@ViewBag.Title</h2>
<br /><br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResumeFileName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                <a href="@Url.Content("~/Content/Resumes/"+ Model.ResumeFileName)" target="_blank">Current Resume</a>

                <input id="fileUpload" type="file" style="padding-top: 15px; padding-bottom: 40px;" name="resumeFile" accept=".pdf" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class=" btn btn-success" />
            </div>
        </div>
    </div>
}

    <div style="padding-bottom: 20px;">
        @if (User.IsInRole("Employee"))
        {
            @Html.ActionLink("Details", "Details", new { id = Model.UserId }, new { @class = "btn btn-primary" })
        }

    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
