@model IEnumerable<JobBoard.Data.EF.OpenPosition>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.Title)
        </th>
        <th>Resume</th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Title)
        </td>

        <td>
            <div>
                @using (Html.BeginForm("singleClickApply", "Applications", new { @openPositionId = item.OpenPositionId, @applicationStatusId = 1 }, FormMethod.Post, new { @class = "text-sm-center" }))
                {
                    <input type="submit" name="applyButton" class="btn btn-primary" value="Single Click Apply!" />
                }

            </div>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionId }, new { @class = "btn btn-dark" }) |

            @Html.ActionLink("Details", "Details", new { id = item.OpenPositionId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionId}, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
    
</table>
