@model IEnumerable<JobBoard.Data.EF.Application>

@{
    ViewBag.Title = "My Applications";

}

<h2>@ViewBag.Title</h2>
<br />
<br />

@if (Model.Count() == 0)
{
    <h3 style="color: red;">You haven't submitted an Application yet. Go to Open Positions <a href="@Url.Action("Index","OpenPositions")">HERE</a></h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ResumeFilename)
            </th>
            <th>
                Position
            </th>

            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>

                <td>
                    @if (item.ResumeFilename != null)
                    {
                        <a href="@Url.Content("~/Content/Resumes/"+ item.ResumeFilename)" target="_blank">View Resume</a>
                    }
                    else
                    {
                        <p>N/A</p>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenPosition.Position.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
                </td>
                <td>
                    <a href="" class="DetailsLink btn btn-primary" id="@item.OpenPositionId">

                        Details
                    </a>
                </td>
            </tr>
        }

    </table>
}
<div id="OPDetails"></div>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".data-table").DataTable();
        });

        //$("#btnLink").click(function () {
        //    $('#ModalPopUp').modal('show');
        //})

        $('a.DetailsLink').click(function (e) {

            e.preventDefault();//this prevents default behavior

            //target the popup placeholder, pass it data (this clicked link ID)
            //then we will apply jQueryUI dialog plugin to make it a popup w/ various settings.
            //Open PublisherDEtails partial view in the popup
            $("#OPDetails").data('pId', $(this).attr('id')).dialog({
                width: 700,
                height: 500,
                open: function () {
                    var pubID = $(this).data('pId');
                    $(this).load("/OpenPositions/PartialDetails/" + pubID);
                },
                title: "Open Position Details",
                modal: true,
                resizable: false

            });
        });

    </script>
}




